node_modules/
.next/
out/
build/
dist/

.env
.env.local
.env*.local
!.env.example

*.pem
.DS_Store
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

next-env.d.ts
*.tsbuildinfo

.vercel
.idea/
.vscode/
supabase/.temp/
supabase/.branches/
caddy_data/
caddy_config/
